// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.home {
  background-image: url("/images/home-bg.jpg");
  min-height: 95vh;
}

.home-content {
  position: absolute;
  top: 25%;
  right: 12%;
  text-align: center;
}

.content-title {
  width: 80%;
}

.container-title h1 {
  text-align: center;
  padding-top: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-template-rows:1fr 1fr;
  gap: 10px;
  margin: 4% 8%;
}

.item {
  padding: 15px;
}

.item img {
  height: 260px;
  width: 380px;
}

.item h1,
.item p {
  width: 380px;
}

.form img {
  height: 40%;
  width: 40%;
}

.item-link {
  text-decoration: none;
  color: #000;
}

.item p {
  border-bottom: solid 2px #d3d3d3;
}

.text_area {
  height: 100px;
  width: 30%;
}
