// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.home {
  background-image: url("/images/home-bg.jpg");
  min-height: 95vh;
}

.home-content {
  position: absolute;
  top: 25%;
  right: 12%;
  text-align: center;
}

.container-title h1 {
  text-align: center;
  padding-top: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px;
  margin: 4%;
}

.item {
  padding: 10px;
}

.item img {
  height: 85%;
  width: 100%;
}

.form img {
  height: 40%;
  width: 40%;
}

.item-link {
  text-decoration: none;
  color: #000;
}

.item h1 p{
  border-bottom: solid 2px #d3d3d3;
}
